<h2 mat-dialog-title>Edit employee basic info</h2>
<mat-dialog-content>
    <form class="example-form" [formGroup]="employeeStructure">
        <mat-form-field class="example-full-width">
            <mat-label>Employee id</mat-label>
            <input matInput type="text" formControlName="EmployeeId" readonly style="cursor: not-allowed;">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="LastName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Position</mat-label>
            <input matInput type="text" formControlName="Position">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="Salary" maxlength="7">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Phone number</mat-label>
            <input matInput type="number" formControlName="PhoneNumber" minlength="7" maxlength="10">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="Address">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Client</mat-label>
            <input matInput type="text" formControlName="Client">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true" (click)="updateEmployee()" color="primary" type="submit">Edit</button>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
</mat-dialog-actions>